graal-vm-release: {
  downloads: {
    GRAALVM_DIR: {
      name: graalvm-release
      version: "0.29"
      platformspecific: true
    }
  }
  logs: [
    fastr_errors.log
    "*/fastr_errors.log"
  ]
}

builds = [
  ${graal-vm-release} {
    name: gate-graalvm-examples-linux-amd64
    capabilities: [linux, amd64]
    targets: [gate]
    run: [
      [./build_all.sh]
      [./test_all.sh]
    ]
  }
]
